#include <os2.h>
#include "PMSnap.h"
STRINGTABLE LOADONCALL
BEGIN
   SZ_TITLE        "PMSnap"
   SZ_APPNAME      "PMSnap Screen Capture"
   SZ_VERSION      "Ver. 1.0 beta."
   SZ_KEYNAME      "Preferences"
   SZ_ENVIRON_VAR  "PMSNAP_INI"
   SZ_INI_FILE     "PMSNAP.INI"
   SZ_BITMAPERROR  "Cannot create bitmap."
   SZ_SAVE         "Save As"
   SZ_PICTURESIZE  "THE BITMAP WILL REQUIRE:"
   SZ_OFMEMORY     "OF MEMORY"
   SZ_CONTINUE     "Are you sure you want to continue?"
   SZ_FREEMEMORY   "Total memory available, including swap space:"
   SZ_COPYQ        "Would you like to copy the palette to the clipboard?"
   SZ_PASTEQ       "A palette was found on the clipboard. Should it be used when rendering the image ?"
   SZ_FILEWRITE    "Cannot open file for writing"
   SZ_UNREGISTERED "PMSnap - Unregistered"
   SZ_HELPWINDOWTITLE "PMSnap Help"
   SZ_HELPLIBRARYNAME "PMSnap.hlp"
   SZ_HELPLOADERROR   "Failed to load help manager."
   SZ_NOTACCEPTABLEW  "This is not a acceptable window. Try again."
   SZ_FREEPHYSMEMORY  "Total physical memory available:"
   SZ_NEWQ         "Are you sure you want to delete bitmap from memory?"
   SZ_BITMAP2BIG   "Not enough memory to capture bitmap!"
END

ICON   ID_MAINWND PMSnap.ico
ACCELTABLE ID_MAINWND LOADONCALL
BEGIN
   VK_ESC,    IDM_CANCELCAPTURE, VIRTUALKEY
   VK_F3,     IDM_EXIT,          VIRTUALKEY
   VK_F4,     IDM_FITWINDOW,     VIRTUALKEY
   VK_INSERT, IDM_COPY,          VIRTUALKEY, CONTROL
   "c",       IDM_COPY,          CHAR, ALT
   "C",       IDM_COPY,          CHAR, ALT
   VK_INSERT, IDM_PASTE,         VIRTUALKEY, SHIFT
   "v",       IDM_PASTE,         CHAR, ALT
   "V",       IDM_PASTE,         CHAR, ALT
   "a",       IDM_REGION,        CHAR, CONTROL
   "A",       IDM_REGION,        CHAR, CONTROL
   "i",       IDM_ACTIVECLIENT,  CHAR, CONTROL
   "I",       IDM_ACTIVECLIENT,  CHAR, CONTROL
   "m",       IDM_MAGNIFY,       CHAR, CONTROL
   "M",       IDM_MAGNIFY,       CHAR, CONTROL
   "s",       IDM_DESKTOP,       CHAR, CONTROL
   "S",       IDM_DESKTOP,       CHAR, CONTROL
   "w",       IDM_ACTIVE,        CHAR, CONTROL
   "W",       IDM_ACTIVE,        CHAR, CONTROL
   "x",       IDM_EXIT,          CHAR, CONTROL
   "X",       IDM_EXIT,          CHAR, CONTROL
END

MENU ID_MAINWND LOADONCALL
BEGIN
   SUBMENU "~File", IDM_FILE
   BEGIN
      MENUITEM "~New",        IDM_NEW
      MENUITEM "Save ~as...", IDM_SAVEAS
      MENUITEM SEPARATOR
      MENUITEM "E~xit",       IDM_EXIT
   END
   SUBMENU "~Edit", IDM_EDIT
   BEGIN
      MENUITEM "~Copy\tCtrl+Ins",   IDM_COPY
      MENUITEM "~Paste\tShift+Ins", IDM_PASTE
   END
   SUBMENU "Ca~pture", IDM_CAPTURE
   BEGIN
      MENUITEM "Cancel Capture\tEsc",    IDM_CANCELCAPTURE
      MENUITEM SEPARATOR
      MENUITEM "~Window\tCtrl+W",          IDM_ACTIVE
      MENUITEM "Window ~Interior\tCtrl+I", IDM_ACTIVECLIENT
      MENUITEM "~Screen\tCtrl+S",          IDM_DESKTOP
      MENUITEM "~Area of Screen\tCtrl+A",  IDM_REGION
   END
   SUBMENU "~Display", IDM_DISPLAY
   BEGIN
      MENUITEM "~Fit window to image\tF4", IDM_FITWINDOW
      MENUITEM SEPARATOR
      MENUITEM "~Fit image in window",     IDM_STRETCH
      MENUITEM SEPARATOR
      MENUITEM "~Options...",         IDM_OPTIONS
      MENUITEM "~Palette options...", IDM_PALETTEOPTIONS
   END
   SUBMENU "~Help", IDM_HELP, MIS_HELP
   BEGIN
      MENUITEM    "Help ~index",       IDM_HELPINDEX
      MENUITEM    "~General help",     IDM_HELPGENERAL
      MENUITEM    "~Using help",       IDM_HELPUSINGHELP
      MENUITEM    "~Keys help",        IDM_HELPKEYS
      MENUITEM SEPARATOR
      MENUITEM    "~About PMSnap...",  IDM_PRODUCTINFO
   END
END

HELPTABLE HELP_ID_MAINWND
BEGIN
   HELPITEM ID_MAINWND,        HELP_SUBHELP_ID_MAINWND,        HELP_GENERAL_ID_MAINWND
   HELPITEM ID_OPTIONS,        HELP_SUBHELP_ID_OPTIONS,        HELP_ID_OPTIONS
   HELPITEM ID_PALETTEOPTIONS, HELP_SUBHELP_ID_PALETTEOPTIONS, HELP_ID_PALETTEOPTIONS
   HELPITEM DID_FILE_DIALOG,   HELP_SUBHELP_FILE_DIALOG,       HELP_ID_SAVEAS
END

HELPSUBTABLE HELP_SUBHELP_ID_MAINWND
BEGIN
  HELPSUBITEM IDM_HELPINDEX,      HELP_GENERAL_ID_MAINWND
  HELPSUBITEM IDM_HELPUSINGHELP,  HELP_GENERAL_ID_MAINWND
  HELPSUBITEM IDM_HELPKEYS,       HELP_KEYS_ID_MAINWND
  HELPSUBITEM IDM_HELPGENERAL,    HELP_GENERAL_ID_MAINWND
  HELPSUBITEM IDM_FILE,           HELP_IDM_FILE
  HELPSUBITEM IDM_SAVEAS,         HELP_IDM_SAVEAS
  HELPSUBITEM IDM_EXIT,           HELP_IDM_EXIT
  HELPSUBITEM IDM_EDIT,           HELP_IDM_EDIT
  HELPSUBITEM IDM_COPY,           HELP_IDM_COPY
  HELPSUBITEM IDM_PASTE,          HELP_IDM_PASTE
  HELPSUBITEM IDM_CAPTURE,        HELP_IDM_CAPTURE
  HELPSUBITEM IDM_CANCELCAPTURE,  HELP_IDM_CANCELCAPTURE
  HELPSUBITEM IDM_ACTIVE,         HELP_IDM_ACTIVE
  HELPSUBITEM IDM_ACTIVECLIENT,   HELP_IDM_ACTIVECLIENT
  HELPSUBITEM IDM_DESKTOP,        HELP_IDM_DESKTOP
  HELPSUBITEM IDM_REGION,         HELP_IDM_REGION
  HELPSUBITEM IDM_DISPLAY,        HELP_IDM_DISPLAY
  HELPSUBITEM IDM_STRETCH,        HELP_IDM_STRETCH
  HELPSUBITEM IDM_OPTIONS,        HELP_IDM_OPTIONS
  HELPSUBITEM IDM_PALETTEOPTIONS, HELP_IDM_PALETTEOPTIONS
END

HELPSUBTABLE HELP_SUBHELP_ID_OPTIONS
BEGIN
  HELPSUBITEM IDC_HIDE_NO,        HELP_IDC_HIDE
  HELPSUBITEM IDC_HIDE_CAPT,      HELP_IDC_HIDE
  HELPSUBITEM IDC_HIDE_INST,      HELP_IDC_HIDE
  HELPSUBITEM IDC_BEEP,           HELP_IDC_BEEP
  HELPSUBITEM IDC_DELAYED,        HELP_IDC_DELAYED
  HELPSUBITEM IDC_FULLCAPTURE,    HELP_IDC_FULLCAPTURE
  HELPSUBITEM IDC_MAGNIFY,        HELP_IDC_MAGNIFY
  HELPSUBITEM IDC_MAGNIFYBY,      HELP_IDC_MAGNIFYBY
  HELPSUBITEM IDC_INCLUDELEFT,    HELP_IDC_INCLUDE
  HELPSUBITEM IDC_INCLUDETOP,     HELP_IDC_INCLUDE
  HELPSUBITEM IDC_INCLUDERIGHT,   HELP_IDC_INCLUDE
  HELPSUBITEM IDC_INCLUDEBOTTOM,  HELP_IDC_INCLUDE
END

HELPSUBTABLE HELP_SUBHELP_ID_PALETTEOPTIONS
BEGIN
  HELPSUBITEM IDC_COPYPALETTE,      HELP_IDC_COPYPALETTE
  HELPSUBITEM IDC_AGRPALETTE,       HELP_IDC_AGRPALETTE
END

HELPSUBTABLE HELP_SUBHELP_FILE_DIALOG
BEGIN
END

POINTER IDP_WINDOW "window.ptr"

rcinclude OPTIONS.DLG
rcinclude POPTIONS.DLG
rcinclude ABOUT.DLG
rcinclude ABOUT2.DLG

